html,
#game_container {
    background-color: #264429;
}

#btn_new_card:disabled,
#btn_stop:disabled {
    background-color: #3f4b63;
}

#cards_pc,
#cards_player {
    position: relative;
    left: 100px;
    margin-left: -75px;
    height: 240px;
}

.cards {
    position: relative;
    left: 100px;
    margin-left: -75px;
    width: 150px;
}

.game_buttons {
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 6px;
    border-radius: 8px;
    font-size: 14px;
    color: white;
}

#btn_new_game {
    background-color: #D52E38;
}

#btn_new_card,
#btn_stop {
    background-color: #246DFD;
}

.titles {
    padding-left: 1rem;
    color: white;
}

#header {
    color: white;
    background-color: black;
    text-align: center;
    font-size: 23px;
    padding: 1rem;
}